include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cyblingexfiskaly *.css
recursive-include cyblingexfiskaly *.csv
recursive-include cyblingexfiskaly *.html
recursive-include cyblingexfiskaly *.ico
recursive-include cyblingexfiskaly *.js
recursive-include cyblingexfiskaly *.json
recursive-include cyblingexfiskaly *.md
recursive-include cyblingexfiskaly *.png
recursive-include cyblingexfiskaly *.py
recursive-include cyblingexfiskaly *.svg
recursive-include cyblingexfiskaly *.txt
recursive-exclude cyblingexfiskaly *.pyc